@import "tailwindcss";
@plugin "daisyui" {
    themes: corporate --default, luxury --prefersdark;
}
@plugin "@tailwindcss/forms";

@source "../views";
@source "../../app";

@theme {
    --font-sans: 'Figtree', ui-sans-serif, system-ui, sans-serif;
}
